<div *ngFor="let data of jsonData">
    <div class="mt-3">
        <div *ngIf="face == false" (click)="toggle()" [class.rotated]="isRotated" (click)="rotateCard()"
            class="ease-in-out duration-700 leading-tight w-3/4 mx-auto bg-gradient-to-t from-fuchsia-500 via-sky-400 via-30% from-1% to-70% to-cyan-400 border-8 rounded-bl-none rounded-tr-none border-[#1f33e9] rounded-3xl max-h-[425px] mb-10">
            <div class="w-fit h-fit pl-2 pr-2">
                <h2 class="font-semibold text-cyan-50 bg-[#200074] m-auto w-2/5 mt-4 mb-2  text-center p-1 rounded-lg h-8">
                    {{data.title}}
                </h2>
                <p class="m-3 text-center font-[Nunito]">
                    {{data.definicion_ingles}}
                </p>
            </div>
            <div class="m-auto justify-center mt-7 mb-5 text-center flex">
                <i class="fa-solid fa-star fa-xl mr-1 ml-1 text-gray-200 hover:scale-125 duration-300"></i>
                <i class="fa-solid fa-star fa-xl mr-1 ml-1 text-gray-200 hover:scale-125 duration-300"></i>
                <i class="fa-solid fa-star fa-xl mr-1 ml-1 text-gray-200 hover:scale-125 duration-300"></i>
                <i class="fa-solid fa-star fa-xl mr-1 ml-1 hover:scale-125 duration-300"></i>
                <i class="fa-solid fa-star fa-xl mr-1 ml-1 hover:scale-125 duration-300"></i>
            </div>
        </div>
        <div *ngIf="face == true" (click)="toggle()" [class.rotated]="isRotated" (click)="rotateCard()"
            class="ease-in-out duration-700 leading-tight w-3/4 mx-auto bg-gradient-to-t from-cyan-400 via-sky-400 via-30% from-1% to-70% to-fuchsia-400  border-8 rounded-bl-none rounded-tr-none border-[#1f33e9]  rounded-3xl max-h-[425px] mb-10">
            <div class="w-fit h-fit pl-2 pr-2">
                <h2 class="font-semibold text-cyan-50 bg-[#200074] m-auto w-2/5 mt-4 mb-2  text-center p-1 rounded-lg h-8">
                    {{data.titulo}}
                </h2>
                <p class="m-3 text-center font-[Nunito]">
                    {{data.definicion_espanol}}
                </p>
            </div>
            <div class="m-auto justify-center mt-7 mb-5 text-center flex">
                <i class="fa-solid fa-star fa-xl mr-1 ml-1 text-gray-200 hover:scale-125 duration-300"></i>
                <i class="fa-solid fa-star fa-xl mr-1 ml-1 text-gray-200 hover:scale-125 duration-300"></i>
                <i class="fa-solid fa-star fa-xl mr-1 ml-1 text-gray-200 hover:scale-125 duration-300"></i>
                <i class="fa-solid fa-star fa-xl mr-1 ml-1 hover:scale-125 duration-300"></i>
                <i class="fa-solid fa-star fa-xl mr-1 ml-1 hover:scale-125 duration-300"></i>
            </div>
        </div>
    </div>

</div>